h1 {
  margin-bottom: 20px
}

.panel {
  margin-bottom: 0;
}

.panel-body {
  padding: 0 15px;
}

.page-header {
  padding-bottom: 20px;
  margin-top: 10px;
}

.tab {
  margin-top: 15px
}

.panel-footer {
  background-color: #337ab7;
  color: white;
}

.list-group-item {
  padding-bottom: 20px;
}

.panel-body li:last-child {
  border-bottom: none;
}

.small-image {
  width: 50px;
  cursor: pointer;
}

img {
  margin: 5px;
  border: 1px solid gainsboro;
}

.well {
  border-top: none;
  border-radius: 4px 0;
}

.reviews {
  list-style-type: none;
  padding: 0;
}

textarea {
  resize: none;
}

small.text-danger {
  display: block;
  margin: 15px 0;
}