<section class="tab text-center">
  <ul class="nav nav-tabs">
    <li class="active" ng-class="{active:tab.isSet(1)}">
      <a href ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{active:tab.isSet(2)}">
      <a href ng-click="tab.setTab(2)">Specs</a>
    </li>
    <li ng-class="{active:tab.isSet(3)}">
      <a href ng-click="tab.setTab(3)">Reviews</a>
    </li>
  </ul>
  <div class="well">
    <div ng-show="tab.isSet(1)" class="product-description">
      <product-description></product-description>
    </div>
    <div ng-show="tab.isSet(2)" class="product-specs" product-specification></div>
    <div ng-show="tab.isSet(3)" class="product-reviews">
      <product-review></product-review>
    </div>
  </div>
</section>