<html ng-app="gemStore">

<head>
  <title>Gem Store</title>
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/StoreController.js"></script>
  <script src="scripts/controllers/GalleryController.js"></script>
  <script src="scripts/controllers/ReviewController.js"></script>
  <script src="scripts/directives/productDescription.js"></script>
  <script src="scripts/directives/productSpecification.js"></script>
  <script src="scripts/directives/productTabs.js"></script>
  <link href="styles/bootstrap.min.css" rel="stylesheet">
  <link href="styles/style.css" rel="stylesheet">
</head>

<body class="container" ng-controller="StoreController as store">
  <main class="panel panel-primary">
    <header class="panel-heading">
      <h1 class="text-center">Gem Store</h1>
    </header>
    <ul class="panel-body list-group text-center">
      <li class="product row list-group-item" ng-hide="product.soldOut" ng-repeat="product in store.products">
        <h3 class="page-header">{{ product.name }} <em class="small">{{ product.price | currency}}</em></h3>
        <figure class="gallery" ng-if="product.images != []" ng-controller="GalleryController as gallery">
          <img ng-src="images/{{ product.images[gallery.current] }}">
          <div>
            <img class="small-image" ng-src="images/{{ image }}" ng-repeat="image in product.images" ng-hide="$index == gallery.current" ng-click="gallery.setCurrent($index)">
          </div>
        </figure>
        <product-tabs></product-tabs>
        <button class="btn btn-success" type="button" ng-show="product.canPurchase">Add to Cart</button>
      </li>
    </ul>
    <footer class="panel-footer panel-primary text-center">Gem Store. Developed by Luis Pagliaro.</footer>
  </main>
</body>

</html>