<html ng-app="gemStore">

<head>
  <title>Gem Store</title>
  <script src="js/angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/StoreController.js"></script>
  <script src="js/TabController.js"></script>
  <script src="js/GalleryController.js"></script>
  <script src="js/ReviewController.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body class="container" ng-controller="StoreController as store">
  <main class="panel panel-primary">
    <header class="panel-heading">
      <h1 class="text-center">Gem Store</h1>
    </header>
    <ul class="panel-body list-group text-center">
      <li class="product row list-group-item" ng-hide="product.soldOut" ng-repeat="product in store.products">
        <h3 class="page-header">{{ product.name }} <em class="small">{{ product.price | currency}}</em></h3>
        <figure class="gallery" ng-if="product.images != []" ng-controller="GalleryController as gallery">
          <img ng-src="images/{{ product.images[gallery.current] }}">
          <div>
            <img class="small-image" ng-src="images/{{ image }}" ng-repeat="image in product.images" ng-hide="$index == gallery.current" ng-click="gallery.setCurrent($index)">
          </div>
        </figure>
        <section class="tab text-center" ng-controller="TabController as tab">
          <ul class="nav nav-tabs">
            <li class="active" ng-class="{active:tab.isSet(1)}">
              <a href ng-click="tab.setTab(1)">Description</a>
            </li>
            <li ng-class="{active:tab.isSet(2)}">
              <a href ng-click="tab.setTab(2)">Specs</a>
            </li>
            <li ng-class="{active:tab.isSet(3)}">
              <a href ng-click="tab.setTab(3)">Reviews</a>
            </li>
          </ul>
          <div class="well">
            <strong ng-show="tab.isSet(1)">{{ product.description }}</strong>
            <blockquote class="text-left" ng-show="tab.isSet(2)">
              <dl class="dl-horizontal">
                <dt>Shine</dt>
                <dd>{{ product.shine }}</dd>
                <dt>Rarity</dt>
                <dd>{{ product.rarity }}</dd>
                <dt>Color</dt>
                <dd>{{ product.color }}</dd>
                <dt>Faces</dt>
                <dd>{{ product.faces }}</dd>
              </dl>
            </blockquote>
            <div ng-show="tab.isSet(3)">
              <form name="reviewForm" class="form-horizontal" novalidate>
                <div class="form-group">
                  <label for="inputStars" class="col-sm-5 control-label">Stars</label>
                  <div class="col-sm-3">
                    <select class="form-control" name="stars" ng-model="review.stars" required>
                      <option value="" disabled selected>Rate the gem</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputComment" class="col-sm-5 control-label">Comment</label>
                  <div class="col-sm-3">
                    <textarea class="form-control" rows="4" placeholder="Enter a comment" name="comment" ng-model="review.comment" required></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail" class="col-sm-5 control-label">Email</label>
                  <div class="col-sm-3">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Enter your Email" name="email" ng-model="review.email" required>
                  </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                <blockquote class="text-left" ng-show="(reviewForm.comment.$dirty && reviewForm.comment.$valid) || (reviewForm.stars.$dirty && reviewForm.stars.$valid) || (reviewForm.email.$dirty && reviewForm.email.$valid)">
                  <p>{{ review.comment }}</p>
                  <div class="text-right">
                    <strong ng-show="reviewForm.stars.$dirty && reviewForm.stars.$valid">{{ review.stars }} stars</strong><span ng-show="reviewForm.stars.$dirty && reviewForm.stars.$valid && reviewForm.email.$dirty && reviewForm.email.$valid"> - </span>
                    <cite>{{ review.email }}</cite>
                  </div>
                </blockquote>
              </form>
              <ul class="reviews">
                <li ng-repeat="review in product.reviews">
                  <blockquote class="text-left">
                    <p>{{ review.body }}</p>
                    <div class="text-right">
                      <strong>{{ review.stars }} stars</strong> -
                      <cite>{{ review.author }}</cite>
                    </div>
                  </blockquote>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <button class="btn btn-success" type="button" ng-show="product.canPurchase">Add to Cart</button>
      </li>
    </ul>
    <footer class="panel-footer panel-primary text-center">Gem Store. Developed by Luis Pagliaro.</footer>
  </main>
</body>

</html>
